# 忽略整个 robot_ws
/robot_ws/

# student_ws 只保留 src 中的 competition_manager
/student_ws/*
!/student_ws/src/
/student_ws/src/*
!/student_ws/src/competition_manager/

# 编译产物和 Python 缓存
build/
install/
log/
__pycache__/
*.pyc